In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sao Filipe,CV,2022-05-21 06:26:26,14.8961,-24.4956,71.58,77,63,9.35
1,1,Vaini,TO,2022-05-21 06:26:27,-21.2000,-175.2000,75.36,88,75,4.61
2,2,Saskylakh,RU,2022-05-21 06:26:27,71.9167,114.0833,33.22,100,95,8.52
3,3,Hasaki,JP,2022-05-21 06:26:28,35.7333,140.8333,72.28,71,100,10.89
4,4,La Ronge,CA,2022-05-21 06:26:28,55.1001,-105.2842,43.05,45,75,5.75

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind,
                                 dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# The app that allows customers to search for locations they want to travel based on their temperature preferences.

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2022-05-21 06:26:27,-21.2000,-175.2000,75.36,88,75,4.61
12,12,Nishihara,JP,2022-05-21 06:26:32,26.1842,127.7558,78.46,80,75,21.85
25,25,Kapaa,US,2022-05-21 06:26:36,22.0752,-159.3190,76.98,96,100,5.75
26,26,Waingapu,ID,2022-05-21 06:26:37,-9.6567,120.2641,86.18,60,84,13.42
35,35,Hithadhoo,MV,2022-05-21 06:26:40,-0.6000,73.0833,83.28,70,27,9.46
38,38,Isangel,VU,2022-05-21 06:26:41,-19.5500,169.2667,77.11,78,16,4.61
40,40,Atar,MR,2022-05-21 06:26:42,20.5169,-13.0499,79.21,27,81,7.27
53,53,Puerto Escondido,MX,2022-05-21 06:27:46,15.8500,-97.0667,79.65,69,45,4.99
57,57,Erenhot,CN,2022-05-21 06:23:33,43.6475,111.9767,84.45,12,67,9.26
66,66,Gorontalo,ID,2022-05-21 06:27:49,0.5412,123.0595,81.72,84,100,4.74

In [15]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1              Vaini      TO     75.36 -21.2000 -175.2000
12         Nishihara      JP     78.46  26.1842  127.7558
25             Kapaa      US     76.98  22.0752 -159.3190
26          Waingapu      ID     86.18  -9.6567  120.2641
35         Hithadhoo      MV     83.28  -0.6000   73.0833
38           Isangel      VU     77.11 -19.5500  169.2667
40              Atar      MR     79.21  20.5169  -13.0499
53  Puerto Escondido      MX     79.65  15.8500  -97.0667
57           Erenhot      CN     84.45  43.6475  111.9767
66         Gorontalo      ID     81.72   0.5412  123.0595

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
12,Nishihara,JP,78.46,26.1842,127.7558,Minshuku Agaihama
25,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
26,Waingapu,ID,86.18,-9.6567,120.2641,Pondok Wisata Elim
35,Hithadhoo,MV,83.28,-0.6000,73.0833,Scoop Guest House
38,Isangel,VU,77.11,-19.5500,169.2667,Tanna Lodge
40,Atar,MR,79.21,20.5169,-13.0499,Oumou Elghoura
53,Puerto Escondido,MX,79.65,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
57,Erenhot,CN,84.45,43.6475,111.9767,Erenhot Rurouni Youth Hostel
66,Gorontalo,ID,81.72,0.5412,123.0595,Maqna Hotel by Prasanthi

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))